
/* Inline Lists */
.inline-list {
  margin: 0 auto 1em auto;
  margin-left: -1em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
.inline-list > li {
list-style: none;
float: left;
margin-left: 1em;
display: block; }
.inline-list > li > * {
  display: block; }

  /* Buttons */
.button{
display: inline-block;
padding: .5em;
border: 1px solid #777;
}
.button.tiny{padding: .25em;}
.button.large{padding: 1em;}
.button.xlarge{padding: 1.25em;}
.radius{border-radius: 3px;}

.button.primary{background-color: #1d2951; border-color: #0e1840; color: #fff;}
.button.secondary{background-color: #738678; border-color: #627567; color: #fff;}
.button.danger{background-color: #990000; border-color: #880000; color: #fff;}

